<div id="header">
	<div class="logoarea">
		<div class="logo">
			<a href="/">ATR GIRLS</a>
		</div>
		
	</div>
	
	<div class="optionarea">
		<ul class="option_list">
			<li>				
				<div>HIHI</div>
			</li>
		</ul>
	</div>
</div>