<h1 id='navigation_title'>Navigation</h1>
<div id="navigation">
	<!-- {{path}} -->
	Start
</div>
<script>
	// var socket = io('/navigation');
	var socket = io();	

	
	$( document ).ready(function() {
		socket.on('connect', function(){
			console.log("HTML connected")
			socket.emit('start')
		})

	});

	socket.on('turn on', function(msg){
		console.log(msg)
		document.getElementById('navigation').innerHTML += '  =>  ';
		document.getElementById('navigation').innerHTML += msg['pi'];		
	});

	socket.on('finish', function(msg){
		document.getElementById('navigation').innerHTML += '=>Arrived!'
	})

	socket.on('disconnect', function(){
		console.log('disconnected')
	})

	// socket.on('disconnect',functinon(){
	// 	console.log('disconnected')
	// })

</script>